// Constants
$_Color__dark = #333
$_Color__white = #fff
$_Color__liteBlue = #47c

$_Section__offsetX = 48px

$_Font__custom = 'Open Sans'
$_Font__native = sans-serif
$_Font__common = $_Font__custom, $_Font__native

$_Font_regular__size = 16px
$_Font_regular__height = 22px
$_Font_regular__weight = 300

$Header__padY = 14px

$Header__Logo__height = 48px
$Header__Logo__width = 303px

$Header__ContactsItems__offsetX = 8px

$Footer__fontSize = 12px
$Footer__fontHeight = 16px

// Mixins
a($color = $_Color__white)
  text-decoration none
  color $_Color__white
  background-repeat: repeat-x;
  background-position: 0 90%;
  background-size: 4px 1px;
  background-image: linear-gradient(to right, rgba($color, .5) 50%, rgba($color, .5) 100%);
  &:hover
    background-image: linear-gradient(to right, rgba($color, .8) 50%, rgba($color, .8) 100%);

gradient($color)
  background-image: radial-gradient(ellipse at center, rgba(darken($color, 50%), 1) 0%, rgba($color, 1) 100%);

// Markup
html,
body
  border 0
  margin 0
  padding 0
  height 100%

body
  font-family $_Font__common
  font-size $_Font_regular__size
  font-weight $_Font_regular__weight
  line-height $_Font_regular__height
  background-color $_Color__dark
  color $_Color__white

.Header
  background-color $_Color__liteBlue
  padding $Header__padY 0
  position relative

  &__Logo
    display block
    width $Header__Logo__width
    height $Header__Logo__height
    position relative

  &__Contacts
    display block

  &__Email
    a()
    white-space nowrap
    margin: 0 $Header__ContactsItems__offsetX

.Section
  height 60%
  background-position center
  background-color transparent
  background-repeat no-repeat
  background-size cover
  position relative

  h1,
  h2
    padding 0
    margin 0
    font-weight inherit
    font-size 28px
    position absolute
    left 50%
    top 50%
    transform: translate(-50%, -50%)
    text-shadow: 0 0 10px rgba(0, 0, 0, .8)

.Footer
  padding $Header__padY $_Section__offsetX
  text-align center
  font-size $Footer__fontSize
  line-height $Footer__fontHeight

// Adaptive
@media screen and (min-width: 641px) // Large screen
  .Header

    &__Logo
      left $_Section__offsetX

    &__Contacts
      position absolute
      right $_Section__offsetX - $Header__ContactsItems__offsetX
      top $Header__padY + ceil(($Header__Logo__height / 2) - ($_Font_regular__height / 2))

  .Section
    &_aircraft
      background-image url(aircraft_1600.jpg)
    &_office
      background-image url(office_1600.jpg)
    &_territory
      background-image url(territory_1600.jpg)
    &_garbage
      background-image url(garbage_1600.jpg)

@media screen and (max-width: 640px) // Small screen
  .Header

    &__Logo
      margin 0 auto

    &__Contacts
      text-align center
      margin-top $Header__padY

  .Section
    &_aircraft
      background-image url(aircraft_640.jpg)
    &_office
      background-image url(office_640.jpg)
    &_territory
      background-image url(territory_640.jpg)
    &_garbage
      background-image url(garbage_640.jpg)
