doctype html
html
    head
        title ООО «УПК-МП»
        meta(charset="utf-8")
        link(href="index.css", rel="stylesheet", type="text/css", media="screen")
        link(href="//fonts.googleapis.com/css?family=Open+Sans:300&subset=latin,cyrillic", rel="stylesheet", type="text/css")

    body
        .aircraft
            h1 Уборка пассажирских и грузовых воздушных судов
        .office
            h1 Уборка помещений
        .garbage
            h1 Вывоз мусора
        .territory
            h1 Уборка территорий

