html,
body
  border 0
  margin 0
  padding 0
  height 100%

body
  font-family 'Open Sans', sans-serif

.aircraft,
.office,
.garbage,
.territory
  height 60%
  background-position center
  background-color transparent
  background-repeat no-repeat
  background-size cover
  color white
  position relative
  border-top 5px solid #a90329

.aircraft
  background-image  url(aircraft.jpg)

.office
  background-image  url(office.jpg)

.garbage
  background-image  url(garbage.jpg)

.territory
  background-image  url(territory.jpg)

h1
  margin 0
  font-size 24px
  position: absolute
  left 20px
  background red
  border-bottom-left-radius 10px
  border-bottom-right-radius 10px
  padding 0 20px 5px
  background linear-gradient(to bottom, #a90329 0%,#6d0019 100%)
