- var Company__Name_short = "ООО «УПК-МП»"
- var Company__Name_full = "Общество с ограниченной ответственностью «Управленческая Компания Многоотраслевая Первая»"
- var Company__Email = "inbox@upkmp.ru"
- var Company__OGRN = "1167746836234"
- var Company__INN = "1167746836234"
- var Company__KPP = "772801001"
doctype html
html
    head
        title= Company__Name_short
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
        link(href="index.css", rel="stylesheet", type="text/css", media="screen")
        link(href="https//fonts.googleapis.com/css?family=Open+Sans:300&subset=latin,cyrillic", rel="stylesheet", type="text/css")

    body
        header.Header
            img.Header__Logo(src="Header__Logo.svg", onerror="this.onerror=null;this.src='Header__Logo.png'" alt= Company__Name_short)
            .Header__Contacts
                a.Header__Email(href="mailto:" + Company__Email)= Company__Email
                    wbr

        .Section.Section_aircraft
            h1 — Уборка воздушных судов
        .Section.Section_office
            h2 — Уборка помещений
        .Section.Section_territory
            h2 — Уборка территорий
        .Section.Section_garbage
            h2 — Вывоз мусора

    footer.Footer= Company__Name_full + ", ОГРН " + Company__OGRN + ", ИНН " + Company__INN + ", КПП " + Company__KPP
