// Constants
$_Color__dark = #333
$_Color__white = #fff
$_Color__liteBlue = #47c

$_Section__offsetX = 48px

$_Font__custom = 'Open Sans'
$_Font__native = sans-serif
$_Font__common = $_Font__custom, $_Font__native

$_Font_regular__size = 16px
$_Font_regular__height = 22px

$Header__padY = 14px

$Header__Logo__height = 48px
$Header__Logo__width = 303px

$Header__ContactsItems__offsetX = 8px

// Mixins
a($color = $_Color__white)
  text-decoration none
  color $_Color__white
  background-repeat: repeat-x;
  background-position: 0 90%;
  background-size: 4px 1px;
  background-image: linear-gradient(to right, rgba($color, .5) 50%, rgba($color, .5) 100%);
  &:hover
    background-image: linear-gradient(to right, rgba($color, .8) 50%, rgba($color, .8) 100%);

// Markup
html,
body
  border 0
  margin 0
  padding 0
  height 100%

body
  font-family $_Font__common
  font-size $_Font_regular__size
  line-height $_Font_regular__height
  background-color $_Color__dark
  color $_Color__white

.Header
  background-color $_Color__liteBlue
  padding $Header__padY 0
  position relative

  &__Logo
    display block
    width $Header__Logo__width
    height $Header__Logo__height
    position relative

  &__Contacts
    display block

  &__Email
    a()
    white-space nowrap
    margin: 0 $Header__ContactsItems__offsetX

// Adaptive
@media screen and (min-width: 641px) // Large screen
  .Header

    &__Logo
      left $_Section__offsetX

    &__Contacts
      position absolute
      right $_Section__offsetX - $Header__ContactsItems__offsetX
      top $Header__padY + ceil(($Header__Logo__height / 2) - ($_Font_regular__height / 2))

@media screen and (max-width: 640px) // Small screen
  .Header

    &__Logo
      margin 0 auto

    &__Contacts
      text-align center
      margin-top $Header__padY

//a
//  color #fff
//
//header,
//footer
//  background-color #47c
//  height 64px
//  line-height 64px
//
//
//
//.logo
//  padding 0
//  margin 8px 0 0 16px
//  border 0
//  vertical-align top
//
//.contacts
//  position absolute
//  right 0
//  top 0
//
//
//.flag
//  position absolute
//  left 0
//  top 0
//  height 64px
//  width 200px
//  background-color #00f
//  transform skew(-45deg, 0)
//  &::before,
//  &::after
//    display block
//    content ''
//    position absolute
//    top 0
//    bottom 0
//    width 33%
//  &::before
//    left 0
//    background-color #fff
//  &::after
//    right 0
//    background-color #f00
//
//
//.aircraft,
//.office,
//.garbage,
//.territory
//  height 60%
//  background-position center
//  background-color transparent
//  background-repeat no-repeat
//  background-size cover
//  color white
//  position relative
//  color transparent
//
//.aircraft
//  background-image  url(aircraft.jpg)
//
//.office
//  background-image  url(office.jpg)
//
//.garbage
//  background-image  url(garbage.jpg)
//
//.territory
//  background-image  url(territory.jpg)
//
//h1
//  margin 0
//  font-size 24px
//  position: absolute
//  left 20px
//  background red
//  border-bottom-left-radius 10px
//  border-bottom-right-radius 10px
//  padding 0 20px 5px
//  background linear-gradient(to bottom, #a90329 0%,#6d0019 100%)
